@media (max-width: 835px) {
    .floating-pizza-img {
        right: 50% !important;
        bottom: -60% !important;
        top: unset !important;
        translate: +50% 0;
    }

    .main-content-holder {
        top: 120px !important;
        left: 35px !important;
        width: calc(100% - 70px) !important;
    }

    .bottom-space {
        height: 200px;
    }

    .floating-pizza-img.hide {
        translate: 155vw 0 !important;
    }
}