.main-content-holder {
    position: absolute;
    top: 140px;
    left: 70px;
    width: max(calc(100vw - 50%), 417px);
}

.content-header {
    color: var(--bg-c);
    font-size: 3rem;
    background-color: var(--main-c);
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 5px solid #1a1a1a;


    cursor: pointer;

    transition: color 0.14s ease-out;
}

.content-header:hover {
    color: var(--main-c-dark);
}

.bottom-space {
    height: 100px;
}

.order-list {
    border: solid black;
    border-width: 0 0 1px 0;
}