.main-content-holder {
    position: absolute;
    top: 140px;
    left: 70px;
    max-width: max(calc(100vw - 50%), 417px);
}

.content-header {
    color: var(--bg-c);
    font-size: 3rem;
    background-color: var(--main-c);
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 5px solid var(--main-c-dark);


    cursor: pointer;

    transition: color 0.14s ease-out;
}

.content-header:hover {
    color: var(--main-c-dark);
}

.content-info {
    font-size: 1.2rem;
}